In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
plt.style.use('bmh')

In [3]:
df = pd.read_csv('ZNGA.csv')
df.head(8)

         Date   Open   High    Low  Close  Adj Close    Volume
0  2021-01-13   9.59   9.93   9.43   9.81       9.81  25316500
1  2021-01-14   9.86  10.04   9.82   9.91       9.91  19469100
2  2021-01-15   9.97  10.01   9.66   9.67       9.67  21066800
3  2021-01-19   9.77   9.95   9.71   9.94       9.94  24050800
4  2021-01-20   9.95  10.33   9.91  10.22      10.22  44028700
5  2021-01-21  10.30  11.09  10.19  10.35      10.35  56310500
6  2021-01-22  10.39  10.83  10.35  10.71      10.71  33810200
7  2021-01-25  10.97  11.02  10.25  10.32      10.32  32702200

In [4]:
df.shape

(253, 7)

In [ ]:
#Visualize the close price data